*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: #1B1B1B;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    max-width: 600px;
    margin-bottom: 24px;
}

.container-input {
    max-width: 480px;
    margin: 14px 0;
}

.container-input span {
    color: white;
    font-size: 22px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: #DFDFDF;
    height: 18px;
    outline: none;
    margin-top: 8px;
}

.button-cta {
    height: 40px;
    background-color: #3EB7EB;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    color: #FFF;
    font-weight: bold;
    font-size: 17px;
}

.container-password {
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.title {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.password {
    height: 60px;
    background-color: rgb(153, 153, 153);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid rgb(255, 255, 255) ;
    transition: transform 0.5s;
}

.password:hover {
    transform: scale(1.02);
}

.tootilp {
    color: white;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    background: rgb(146, 146, 146);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    transition:  all 0.5s ease-in-out;
}

.hide {
    display: none;
}

.container-password:hover .tootilp {
    visibility: visible;
    bottom: 50px;
    opacity: 1;